* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

body {
    font-family: Papyrus;
    color: #755139;
    background-color: #F2EDD7;
    display: grid;
    grid-template-areas:
    "header"
    "main-content"
    "footer";
    height: 500vh;
    grid-gap: 2em;
    margin:2em;
    padding: 2em;
    line-height: 1;
    margin-top: 2em;    
    margin-bottom: 2em;
    color: #F2EDD7;
    font-style: bold;
    text-align: center;
    padding: 3em;
    border: 10px solid #eacba0;
    border-radius: 15px;
    padding: 2em;

}

header {
    font-size: 50px;
    grid-area: header;
    color: #F2EDD7;
    font-style: bold;
    text-align: center;
    padding: 3em;
    border: 10px solid #b78f4658;
    border-radius: 15px;
    padding: 2em;
    background-color:#755139 ; 

}

main {
    grid-area: main-content;
    display: flex;
    flex-flow: column;
    gap: 1.5rem;
    line-height: 1;
    overflow-y: auto;
    text-align: center;
    font-weight: 300;
    font-size: 25px;
    color:#755139;

}


main img {
    width: 300px;
    height: auto;
    display: block;
    margin: 0 auto;
    box-shadow: 4px 4px 15px rgb(33, 32, 32);
    border-radius: 10px;
    transform: rotate(2deg);
}
    

main p{
    font-size: 30px;
    color: #201c19;
    background-color: #F2EDD7;
    padding: 1em 2em;
    border-radius: 10px;
    padding: 1em;
    line-height: 1.5;
    background-color: #F2EDD7;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
    width: 80%;

}


footer {
    grid-area: footer;
    background: #F2EDD7;
}

header,
footer,
main {
    padding: 1rem;
    border-radius: 20px;
  }


@media (min-width: 512px) {
    body {
      grid-template-columns: minmax(auto, 1fr) 2fr;
      grid-template-rows: min-content 1fr min-content;
      grid-template-areas:
        "header header"
        "main-content main-content"
        "footer footer";
    }
}
  