* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

body {
    font-family: Papyrus;
    color: #755139;
    background-color: #F2EDD7;
    display: grid;
    grid-template-areas:
    "header"
    "main-content"
    "footer";
    grid-gap: 1em;
    margin:2em;
    padding: 2em;
    line-height: 1;
    margin-top: 2em;    
    margin-bottom: 2em;
    color: #F2EDD7;
    font-style: bold;
    text-align: center;
    min-height: 100vh;



}

header {
    font-size: 55px;
    grid-area: header;
    color: #F2EDD7;
    font-style: bold;
    text-align: center;
    padding: 1.5em;
    border: 10px solid #b78f4658;
    border-radius: 15px;
    background-color:#755139; 

}

main {
    grid-area: main-content;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto;
    grid-gap: 1.5rem;
    display: grid;
    flex-flow: column;
    line-height: 1.2;
    overflow-y: auto;
    text-align: center;
    font-weight: 300;
    font-size: 25px;
    color:#755139;

}


main img {
    width: 300px;
    height: auto;
    margin: 5;
    box-shadow: 4px 4px 15px rgb(33, 32, 32);
    border-radius: 10px;
}
    

.right p{
    font-size: 30px;
    color: #201c19;


}


footer {
    grid-area: footer;
    background: #F2EDD7;
}

header,
footer,
main {
    padding: 1rem;
    border-radius: 20px;
  }


@media (min-width: 512px) {
    body {
      grid-template-columns: minmax(auto, 1fr) 2fr;
      grid-template-rows: min-content 1fr min-content;
      grid-template-areas:
        "header header"
        "main-content main-content"
        "footer footer";
    }
}
  